<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.klinsurance.word.mapper.WordTemplateMapper" >

  <sql id="Base_Column_List" >
    word_template_id, name, type, file_path, remark, create_time,is_checked
  </sql>
  <select id="selectByPrimaryKey" resultType="com.ht.klinsurance.word.model.WordTemplate" >
    select
    <include refid="Base_Column_List" />
    from word_template
    where word_template_id = #{wordTemplateId,jdbcType=VARCHAR}
  </select>
  <select id="findWordTemplateListChecked" resultType="com.ht.klinsurance.word.model.WordTemplate">
    select
    <include refid="Base_Column_List" />
    from word_template
    <where>
      <if test="createTime!=null and createTime!=''">
        and create_time > #{createTime}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from word_template
    where word_template_id = #{wordTemplateId,jdbcType=VARCHAR}
  </delete>

  <insert id="insertSelective" parameterType="com.ht.klinsurance.word.model.WordTemplate" >
    insert into word_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wordTemplateId != null" >
        word_template_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="filePath != null" >
        file_path,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="isChecked != null" >
        is_checked,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wordTemplateId != null" >
        #{wordTemplateId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isChecked != null" >
        #{isChecked,jdbcType=TINYINT},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.klinsurance.word.model.WordTemplate" >
    update word_template
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="filePath != null" >
        file_path = #{filePath,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isChecked != null" >
        is_checked = #{isChecked,jdbcType=TIMESTAMP},
      </if>
    </set>
    where word_template_id = #{wordTemplateId,jdbcType=VARCHAR}
  </update>
</mapper>