<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.klinsurance.sys.mapper.SysMenuMapper">

    <resultMap id="SysMenuMap" type="com.ht.klinsurance.sys.model.SysMenu">
        <id column="menu_id" property="menuId" jdbcType="VARCHAR"/>
        <result column="menu_code" property="menuCode" jdbcType="VARCHAR"/>
        <result column="menu_pcode" property="menuPcode" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="seq_num" property="seqNum" jdbcType="INTEGER"/>
        <result column="is_show" property="isShow" jdbcType="BIT"/>
    </resultMap>
    <sql id="all_columns">
        menu_id, menu_code, menu_pcode, name, url, icon, seq_num, is_show
    </sql>

    <select id="findSysMenuList" resultMap="SysMenuMap">
        select
        <include refid="all_columns"/>
        from sys_menu
        where is_show = TRUE
        <choose>
            <when test="menuPcode !=null and menuPcode !=''">
                and menu_pcode = #{menuPcode}
            </when>
        </choose>
        order by seq_num ASC
    </select>

    <select id="findSysMenuById" resultMap="SysMenuMap" parameterType="java.lang.String">
        select
        <include refid="all_columns"/>
        from sys_menu
        where menu_id = #{menuId,jdbcType=VARCHAR}
        and is_show = TRUE
    </select>
    <select id="findMaxMenuCode" resultType="java.lang.String">
        select max(menu_code+0) from sys_menu WHERE menu_pcode =#{menuPcode}

    </select>
    <select id="findSysMenuListByRoleId" resultType="com.ht.klinsurance.sys.model.SysMenu">
        select
        <include refid="all_columns"/>
        from sys_menu
        where menu_code  in (SELECT rmenu.menu_code FROM sys_role_menu as rmenu where rmenu.role_id = #{roleId,jdbcType=VARCHAR} )
        and is_show = TRUE and menu_pcode = #{pCode,jdbcType=VARCHAR}
        order by seq_num ASC
    </select>

    <insert id="addSysMenu" parameterType="com.ht.klinsurance.sys.model.SysMenu">
        insert into sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                menu_id,
            </if>
            <if test="menuCode != null">
                menu_code,
            </if>
            <if test="menuPcode != null">
                menu_pcode,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="seqNum != null">
                seq_num,
            </if>
            <if test="isShow != null">
                is_show,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="menuId != null">
                #{menuId,jdbcType=VARCHAR},
            </if>
            <if test="menuCode != null">
                #{menuCode,jdbcType=VARCHAR},
            </if>
            <if test="menuPcode != null">
                #{menuPcode,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="seqNum != null">
                #{seqNum,jdbcType=INTEGER},
            </if>
            <if test="isShow != null">
                #{isShow,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <update id="updateSysMenu" parameterType="com.ht.klinsurance.sys.model.SysMenu">
        update sys_menu
        <set>
            <if test="menuCode != null">
                menu_code = #{menuCode,jdbcType=VARCHAR},
            </if>
            <if test="menuPcode != null">
                menu_pcode = #{menuPcode,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="seqNum != null">
                seq_num = #{seqNum,jdbcType=INTEGER},
            </if>
            <if test="isShow != null">
                is_show = #{isShow,jdbcType=BIT},
            </if>
        </set>
        where menu_id = #{menuId,jdbcType=VARCHAR}
    </update>


    <delete id="deleteSysMenuById" parameterType="java.lang.String">
        DELETE FROM sys_menu
        WHERE menu_id = #{menuId,jdbcType=VARCHAR}
    </delete>
</mapper>