<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.klinsurance.sys.mapper.SysRoleButtonMapper">

    <select id="findAuthorityTree" resultType="com.ht.klinsurance.sys.model.SysRoleMenu">
        SELECT
            menuButton.id,
            menuButton.p_id,
            menuButton.NAME,
            menuButton.seq_num,
            menuButton.is_parent,
            IF(srb.role_id IS NULL, 0, 1) AS checked
        FROM
            (
                (
                    SELECT
                        sm.menu_code  AS id,
                        sm.menu_pcode AS p_id,
                        sm.`name`,
                        sm.seq_num,
                        TRUE          AS is_parent
                    FROM
                        sys_role_button AS srb
                        LEFT JOIN sys_menu AS sm ON srb.button_id = sm.menu_code
                    WHERE
                        sm.menu_id IS NOT NULL
                        AND srb.role_id = #{loginRoleId}
                )
                    UNION
                    (
                    SELECT
                    sb.button_id AS `id`,
                    sb.menu_code AS p_id,
                    sb.description AS `name`,
                    sb.seq_num,
                    FALSE AS isParent
                    FROM
                    sys_button AS sb
                    LEFT JOIN sys_role_button srb ON sb.button_id = srb.button_id
                    WHERE
                    srb.role_id = #{loginRoleId}
                    )
            ) AS menuButton
            LEFT JOIN (
                          SELECT *
                          FROM
                              sys_role_button
                          WHERE
                              role_id = #{currentRoleId}
                      ) srb ON srb.button_id = menuButton.id
        ORDER BY
            p_id,
            seq_num
    </select>

    <select id="findNoAuthorityByRoleId" resultType="com.ht.klinsurance.sys.model.SysButton">
        SELECT
            button_id,
            menu_code,
            widget_id,
            widget_type,
            description,
            seq_num
        FROM
            sys_button
        WHERE
            button_id NOT IN (
                SELECT srb.button_id
                FROM
                    sys_role_button AS srb
                WHERE
                    srb.role_id = #{roleId}
            )
    </select>

    <insert id="batchAddRoleButtons">
        INSERT INTO sys_role_button (role_button_id, role_id, menu_code, button_id)
        values
        <foreach collection="roleButtons" item="item" index="index" separator=",">
            (replace(uuid(),'-',''), #{roleId}, #{item.pId}, #{item.id})
        </foreach>
    </insert>

    <delete id="deleteByRoleId">
        DELETE FROM sys_role_button
        WHERE role_id = #{roleId,jdbcType=VARCHAR}
    </delete>

    <insert id="copySysRoleButton">
        INSERT INTO sys_role_button (role_button_id, role_id, button_id, menu_code)
            SELECT
                REPLACE(UUID(), '-', '') AS role_button_id,
                #{targetRunRoleId},
                srb.button_id,
                srb.menu_code
            FROM sys_role_button AS srb
            WHERE srb.role_id = #{sourceRunRoleId}
    </insert>

</mapper>