<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.klinsurance.briefing.mapper.BriefingLossItemMapper" >

  <sql id="Base_Column_List" >
    briefing_loss_item_id, briefing_loss_id, loss_item_id, create_time
  </sql>
  <select id="selectByPrimaryKey" resultType="com.ht.klinsurance.briefing.model.BriefingLossItem" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from briefing_loss_item
    where briefing_loss_item_id = #{briefingLossItemId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from briefing_loss_item
    where briefing_loss_item_id = #{briefingLossItemId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByBriefingLossId">
      delete from briefing_loss_item
    where briefing_loss_id = #{briefingLossId,jdbcType=VARCHAR}
  </delete>
  <insert id="adddBriefingLossItem" parameterType="com.ht.klinsurance.briefing.model.BriefingLossItem" >
    insert into briefing_loss_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="briefingLossItemId != null" >
        briefing_loss_item_id,
      </if>
      <if test="briefingLossId != null" >
        briefing_loss_id,
      </if>
      <if test="lossItemId != null" >
        loss_item_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="briefingLossItemId != null" >
        #{briefingLossItemId,jdbcType=VARCHAR},
      </if>
      <if test="briefingLossId != null" >
        #{briefingLossId,jdbcType=VARCHAR},
      </if>
      <if test="lossItemId != null" >
        #{lossItemId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ht.klinsurance.briefing.model.BriefingLossItem" >
    update briefing_loss_item
    <set >
      <if test="briefingLossId != null" >
        briefing_loss_id = #{briefingLossId,jdbcType=VARCHAR},
      </if>
      <if test="lossItemId != null" >
        loss_item_id = #{lossItemId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where briefing_loss_item_id = #{briefingLossItemId,jdbcType=VARCHAR}
  </update>
</mapper>