<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ht.klinsurance.user.mapper.UserMapper" >

  <sql id="Base_Column_List" >
    user_id, login_name, login_pwd,role_id, name, name_pinyin, company, dept, tel, mobile, remark, email,
    create_time
  </sql>
  <select id="selectByPrimaryKey" resultType="com.ht.klinsurance.user.model.User" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <select id="findListByParam" resultType="com.ht.klinsurance.user.model.User">
    select
    <include refid="Base_Column_List" />
    from user
    <where>
      <if test="loginName!=null and loginName!=''">
        and login_name=#{loginName,jdbcType=VARCHAR}
      </if>
      <if test="loginPwd!=null and loginPwd!=''">
        and login_pwd=#{loginPwd,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="findList" resultType="com.ht.klinsurance.user.model.User">

    select
    <include refid="Base_Column_List" />
    from user
    <where>
      <if test="loginName!=null and loginName!=''">
        and login_name = #{loginName}
      </if>
      <if test="createTime!=null and createTime!=''">
        and create_time > #{createTime}
      </if>
    </where>

  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteAll">
     delete from user
  </delete>

  <insert id="addUser" parameterType="com.ht.klinsurance.user.model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="loginName != null" >
        login_name,
      </if>
      <if test="loginPwd != null" >
        login_pwd,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="namePinyin != null" >
        name_pinyin,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="dept != null" >
        dept,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>

      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>

      <if test="email != null" >
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="loginName != null" >
        #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="loginPwd != null" >
        #{loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="namePinyin != null" >
        #{namePinyin,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        #{dept,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null" >
        #{email,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="addUserList">
    <foreach collection="list" item="item" index="index" separator=";">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="item.userId != null" >
        user_id,
      </if>
      <if test="item.loginName != null" >
        login_name,
      </if>
      <if test="item.loginPwd != null" >
        login_pwd,
      </if>
      <if test="item.name != null" >
        name,
      </if>
      <if test="item.roleId != null" >
        role_id,
      </if>
      <if test="item.namePinyin != null" >
        name_pinyin,
      </if>
      <if test="item.company != null" >
        company,
      </if>
      <if test="item.dept != null" >
        dept,
      </if>
      <if test="item.tel != null" >
        tel,
      </if>
      <if test="item.mobile != null" >
        mobile,
      </if>

      <if test="item.remark != null" >
        remark,
      </if>
      <if test="item.createTime != null" >
        create_time,
      </if>
      <if test="item.email != null" >
        email,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="item.userId != null" >
        #{item.userId,jdbcType=VARCHAR},
      </if>
      <if test="item.loginName != null" >
        #{item.loginName,jdbcType=VARCHAR},
      </if>
      <if test="item.loginPwd != null" >
        #{item.loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="item.name != null" >
        #{item.name,jdbcType=VARCHAR},
      </if>
      <if test="item.roleId != null" >
        #{item.role_id,jdbcType=VARCHAR},
      </if>
      <if test="item.namePinyin != null" >
        #{item.namePinyin,jdbcType=VARCHAR},
      </if>
      <if test="item.company != null" >
        #{item.company,jdbcType=VARCHAR},
      </if>
      <if test="item.dept != null" >
        #{item.dept,jdbcType=VARCHAR},
      </if>
      <if test="item.tel != null" >
        #{item.tel,jdbcType=VARCHAR},
      </if>
      <if test="item.mobile != null" >
        #{item.mobile,jdbcType=VARCHAR},
      </if>
      <if test="item.remark != null" >
        #{item.remark,jdbcType=VARCHAR},
      </if>
      <if test="item.createTime != null" >
        #{item.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="item.email != null" >
        #{item.email,jdbcType=TIMESTAMP},
      </if>

    </trim>
    </foreach>
  </insert>
  <update id="updateUser" parameterType="com.ht.klinsurance.user.model.User" >
    update user
    <set >
      <if test="loginName != null" >
        login_name = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="loginPwd != null" >
        login_pwd = #{loginPwd,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="namePinyin != null" >
        name_pinyin = #{namePinyin,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        dept = #{dept,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=TIMESTAMP},
      </if>

    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>

</mapper>